body {
  background-color: #000000;
  background: linear-gradient(rgba(255, 146, 146, 0.4), rgba(255, 255, 255, 0.4)), url('images/jason-leung1.jpg');
  color: white;
  background-size: 1280px;
  height: 100vh;
  width: 100%;

}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
  width: 100%;
  text-decoration: none;
  padding-top: -100px;
}
.container {
  display: flex;
  justify-content: center;
  /*padding-top: 25px;*/
  font-size: 40px;
  align-items:; center;
}
.text {
  font-weight 100;
  font-size 28px;
  color #FAFAFA;
  text-shadow: 1px 1px 7px purple;
}
.dud {
  color #757575;
}


header h2 {
font-family: 'Pacifico', cursive;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  padding-top: 100px;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

h3 {
  // font-family: 'Cinzel', serif;
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 p {
  // font-family: 'Pacifico', cursive;
  // font-family: 'Amiri', serif;
  // font-family: 'Cinzel', serif;
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 1px 2px 6px black;
 }

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about {


}

#projects {


}

footer {

}

#linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
